
a:link {
	color: #C4940F;
}

a:hover, {
	text-decoration: underline;
	color: #FF0000;
}

a:visited {
	color: #C4940F;
}

*
{
border: 0;
margin: 0;
}

body
{
	background: #33aaaa;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

#main
{
margin: 0 auto;
width: 900px;
background: #ffffff;
}

#logo
{
width: 900px;
height: 51px;
background: url(images/header.jpg) no-repeat;
text-align: center;
padding-top: 220px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
}


#logo H2 a
{
font-size: 12px;
}

#buttons
{
height: 37px;
width: 900px;
border-left: 2px solid #FFFFFF;
background: url(images/buttons.jpg) repeat-x;
padding-left: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	display: block;
	float: left;
	width: 90px;
	height: 27px;
	background: #FFFFFF url(images/buttons.jpg) repeat-x;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	padding-top: 10px;

}

#buttons a:hover {
	width: 80px;
    height: 27px;
	background: #FFFFFF url(images/buttons_r.jpg) repeat-x;
}

#content
{
width: 880px;
padding: 2px;
background: #ffffff;
min-height:530px;
}

#left
{
width: 600px;
padding: 10px;
}

#left H1
{
color: #CE0B09;
margin: 0;
padding: 0;
font-size: 24px;
}
#left H2
{
color: #CE0B09;
margin: 0;
padding: 0;
font-size: 18px;
}

#right
{
float: right;
}

#sidebar 
{
width: 250px;
}

#sidebar ul 
{
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li 
{
	margin-bottom: 15px;
}

#sidebar li ul {
	padding: 10px;
	border-top: none;
}

#sidebar li li {
	margin: 0;
	padding: 3px 0;
}


#sidebar li h2 {
	height: 35px;
	margin: 0;
	padding: 5px 0 0 10px;
	background: url(images/title.jpg) no-repeat;
	font-size: 18px;
	color: #ffffff;
}

#sidebar a:link {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}
#sidebar a:visited {
		text-decoration: none;
}

#sidebar li a {
	padding-left: 10px;
	background: url(images/img09.gif) no-repeat left center;
}
#footer
{
	background: url(images/footer.gif) repeat-x;
	height:49px;
	font-size: 10px;
	color: #000000;
	padding-top: 10px;
	text-align: center;
	border-top: 5px solid #977004
}

#footer a
{
color: #000000;
font-size: 10px;
text-decoration: none;
}
.padding
{
padding: 10px;
color:#FF0000;
font-weight: bold;
}

* {font-family: 'Segoe UI';}
.tabbable .tabs {list-style: none; margin: 0 10px; padding: 0;}
.tabbable .tabs li {list-style: none; margin: 0; padding: 0; display: inline-block; position: relative; z-index: 1;}
.tabbable .tabs li a {text-decoration: none; color: #000; border: 1px solid #ccc; padding: 5px; display: inline-block; border-radius: 5px 5px 0 0; background: #f5f5f5;}
.tabbable .tabs li a.active, .tabbable .tabs li a:hover {border-bottom-color: #fff; background: #fff;}
.tabcontent {border: 1px solid #ccc; margin-top: -1px; padding: 10px;}

