a:link {
	color: #C4940F;
}

a:hover {
	text-decoration: underline;
	color: #FF0000;
}

a:visited {
	color: #C4940F;
}

* {
	border: 0;
	margin: 0;
}

body {
	background: #33AAAA;
	font: 13px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

#main {
	margin: auto;
	width: 900px;
	background: #FFFFFF;
}

#logo {
	width: 900px;
	height: 51px;
	background: url(images/header.jpg) no-repeat;
	text-align: center;
	padding-top: 220px;
}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
}

#logo h2 a {
	font-size: 12px;
}

#buttons {
	height: 37px;
	width: 896px;
	border-left: 2px solid #FFFFFF;
	background: url(images/buttons.jpg) repeat-x;
	padding-left: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	display: block;
	float: left;
	width: 90px;
	height: 27px;
	background: #FFFFFF url(images/buttons.jpg) repeat-x;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 13px;
	padding-top: 10px;
}

#buttons a:hover {
	width: 80px;
	height: 27px;
	background: #FFFFFF url(images/buttons_r.jpg) repeat-x;
}

#content {
	width: 880px;
	padding: 2px;
	background: #FFFFFF;
	min-height: 530px;
}

#left {
	width: 600px;
	padding: 10px;
}

#left h1 {
	color: #CE0B09;
	margin: 0;
	padding: 0;
	font-size: 24px;
}

#left h2 {
	color: #CE0B09;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

#right {
	float: right;
	margin-right: 5px;
}

#sidebar {
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin-bottom: 15px;
}

#sidebar li ul {
	padding: 10px;
	border-top: none;
}

#sidebar li li {
	margin: 0;
	padding: 3px 0;
}

#sidebar li h2 {
	height: 35px;
	margin: 0;
	padding: 5px 0 0 10px;
	background: url(images/title.jpg) no-repeat;
	font-size: 18px;
	color: #FFFFFF;
}

#sidebar a:link {
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar a:visited {
	text-decoration: none;
}

#sidebar li a {
	padding-left: 10px;
	background: url(images/img09.gif) no-repeat left center;
}

#footer {
	background: url(images/footer.gif) repeat-x;
	height: 49px;
	font-size: 10px;
	color: #000000;
	padding-top: 10px;
	text-align: center;
	border-top: 5px solid #977004;
}

#footer a {
	color: #000000;
	font-size: 10px;
	text-decoration: none;
}

.padding {
	padding: 10px;
	color: #FF0000;
	font-weight: bold;
}

input#chat2 {
	width: 400px;
}

#chatConsole2-container {
	width: 600px;
}

#chatConsole2 {
	border: 2px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	height: 170px;
	overflow-y: scroll;
	padding: 5px;
	width: 400px;
}

#chatConsole2 p {
	padding: 0;
	margin: 0;
}

