<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>text-rpg</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <listener>
    <listener-class>General.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>Servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>Servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Store.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/Store/CartServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>Store.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/Store/CheckoutServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/Store/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>Store.BuyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/Servlets/AuthenticationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>Servlets.AuthenticationServlet</servlet-class>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>MuteServlet</servlet-name>
    <url-pattern>/servlet/MuteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MuteServlet</servlet-name>
    <servlet-class>Servlets.MuteServlet</servlet-class>
  </servlet>
  
  <error-page> 
    <error-code>500</error-code>
    <location>/500err.jsp</location>
  </error-page>
  
   <error-page> 
    <error-code>404</error-code>
    <location>/404err.jsp</location>
  </error-page>
  
  <!-- SSL for credit card payment page -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Purchase</web-resource-name>
      <url-pattern>/Checkout.jsp</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  
<!-- ADMIN BASIC Authenitacion-Declarative Security -->
  
  <security-role>
  <role-name>administrator</role-name>
    </security-role>
  
  <security-constraint>
   <web-resource-collection>
      <web-resource-name>Admin Panel</web-resource-name>
      <url-pattern>/admin_panel.jsp</url-pattern>
   </web-resource-collection>
   <auth-constraint>
      <role-name>administrator</role-name>
   </auth-constraint>
</security-constraint>

<login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>ADMIN</realm-name>
</login-config>

</web-app>